{% extends "main.html" %}
{% load static %}
{% block main %}
{% load crispy_forms_tags %}

<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">PEDIDOS</h2>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    {% crispy filter.form %}
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-md table-hover text-center" id="tabla-orden">
      <thead class="thead-light">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Cliente</th>
          <th scope="col">Nombre referencial</th>
          <th scope="col">Vendedor</th>
          <th scope="col">Fecha</th>
          <th scope="col">Subotal</th>
          <th scope="col">Total</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if filter.qs.count %}
        {% for orden in filter.qs %}
        <tr class="text-center">
          <td scope="row">{{orden.codigo}}</td>
          <td scope="row">{{orden.cliente}}</td>
          <td scope="row">{{orden.cliente_referencial}}</td>
          <td scope="row">{{orden.empleado}}</td>
          <td scope="row">{{orden.fecha}}</td>
          <td scope="row"><span class="dollar-value">$ {{orden.subtotal}}</span></td>
          <td scope="row"><span class="dollar-value">$ {{orden.valor_total}}</span></td>
          <td scope="row">
            {% if orden.estado == "NPG" %}
            <span class="text-warning font-weight-bold">{{orden.get_estado_display}}</span>
            {% elif orden.estado == "CNC" %}
            <span class="text-danger font-weight-bold">{{orden.get_estado_display}}</span>
            {% elif orden.estado == "PAG" %}
            <span class="text-success font-weight-bold">{{orden.get_estado_display}}</span>
            {% elif orden.estado == "DES" %}
            <span class="text-info font-weight-bold">{{orden.get_estado_display}}</span>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'neymatex:orden:ver' orden.pk %}" class="btn btn-sm btn-primary"><i
                class="fas fa-eye "></i></a>
            {% if orden.estado == "NPG" %}
            <a class="btn btn-sm btn-danger use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{%url 'neymatex:orden:eliminar' orden.pk%}" href="#">
              <i class="fas fa-times"></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <div class="pagination text-center">
    </div>
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script src="{% static 'js/utilsTable.js' %}"></script>
<script src="{% static 'js/utilsModal.js' %}"></script>
<script>
  $(document).ready(init_pagination({{page_obj.paginator.num_pages}}, {{page_obj.number}}))
</script>
{% endblock %}
