{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="row mt-4">
  <div class="col-12 col-xl-8">
    <h2>
      <div class="row">
        <div class="col-12 col-lg-6">{{title|upper}}</div>
        <div class="col-12 col-lg-6 text-right">Código: {{orden.codigo}}</div>
      </div>
    </h2>
    <hr>
    <div class="row mb-3">
      <div class="col-6">
        Estado:
        {% if orden.estado == "NPG" %}
        <span class="text-warning font-weight-bold">{{orden.get_estado_display}}</span>
        {% elif orden.estado == "CNC" %}
        <span class="text-danger font-weight-bold">{{orden.get_estado_display}}</span>
        {% elif orden.estado == "PAG" %}
        <span class="text-success font-weight-bold">{{orden.get_estado_display}}</span>
        {% elif orden.estado == "DES" %}
        <span class="text-info font-weight-bold">{{orden.get_estado_display}}</span>
        {% endif %}
      </div>
      <div class="col-6">
        Cliente: {{orden.cliente}}
      </div>
      <div class="col-6">
        Vendedor: {{orden.empleado}}
      </div>
      <div class="col-6">
        Fecha pedido: {{orden.created_at}}
      </div>
      {% if orden.cajero %}
      <div class="col-6">
        Cajero: {{orden.cajero}}
      </div>
      <div class="col-6">
        Fecha pagado: {{orden.fecha_pagado}}
      </div>
      {% endif%}
      {% if orden.despachador %}
      <div class="col-6">
        Despachador: {{orden.despachador}}
      </div>
      <div class="col-6">
        Fecha despachado: {{orden.fecha_despachado}}
      </div>
      {% endif %}
      <div class="col-6">
        Nombre referencial: {{orden.cliente_referencial}}
      </div>
    </div>
  </div>
  <div class="col-12">
    {% if productos %}
    <table class="table table-responsive-md table-hover">
      <thead>
        <tr>
          <th colspan="2">Producto</th>
          <th>Cantidad Metros</th>
          <th>Precio</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        {%for detalle in productos%}
        <tr>
          <td>
            {% if detalle.producto.imagen %}
            <img src="{{detalle.producto.imagen.url}}" alt="product-img" width="80" height="80">
            {% else %}
            <img src="{% static 'images/default_product.png' %}" alt="product-img" width="80" height="80">
            {% endif %}
          </td>
          <td>{{detalle.producto.nombre}}</td>
          <td>{{detalle.cantidad_metro}} m</td>
          <td>$ {{detalle.valor_metro}}</td>
          <td class="text-right">$ {{detalle.valor_total}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {% endif %}
    <hr>
    <div class="row">
      <div class="col-md-8 col-4"></div>
      <div class="col-md-4 col">
        <div class="d-flex justify-content-end">
          <div class="col-6">
            Subtotal
          </div>
          <div class="col-6 text-right">
            $ {{orden.subtotal}}
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="col-6">
            IVA (12%)
          </div>
          <div class="col-6 text-right">
            $ {{orden.iva}}
          </div>
        </div>
        <div class="d-flex justify-content-end border-bottom border-dark">
          <div class="col-6">
            Descuento
          </div>
          <div class="col-6 text-right">
            - $ {{orden.descuento}}
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="col-6">
            Total
          </div>
          <div class="col-6 text-right">
            $ {{orden.valor_total}}
          </div>
        </div>
      </div>
      {% if orden.observaciones %}
      <hr>
      <div class="col-md-12">
        <label for="observacion">Observaciones:</label>
        <p>{{ orden.observaciones }}</p>
      </div>
      <hr>
      {% endif %}
      <div class="col-12">
        {% if orden.estado != "DES"%}
        {% if orden.estado == "NPG" %}
        <a class="btn btn-primary use-modal" data-toggle='modal' data-target="#mainModal"
          data-url="{%url 'neymatex:orden:pagar' orden.pk%}" href="#">Realizar Pago</a>
        <a class="btn btn-primary" href="{%url 'neymatex:orden:editar' orden.pk%}">Editar Pedido</a>
        {% elif orden.estado == "PAG"%}
        <a class="btn btn-primary use-modal" data-toggle='modal' data-target="#mainModal"
          data-url="{%url 'neymatex:orden:despachar' orden.pk%}" href="#">Despachar</a>
        {% endif %}
        {% if orden.estado != "CNC" %}
        <a class="btn btn-primary use-modal" data-toggle="modal" data-target="#mainModal"
          data-url="{%url 'neymatex:orden:observacion' orden.pk%}" href="#">Agregar observación</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{{form.errors}}
{% endblock main %}
{% block specific_scripts %}
<script src="{% static 'js/utilsModal.js' %}"></script>
{% endblock %}
