{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">PRODUCTOS</h2>
  </div>
  <div class="col">
    <a href="{% url 'neymatex:producto:agregar' %}" class="btn btn-primary float-right">Agregar producto <i
        class="fas fa-plus-circle">
      </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="get">
      {% crispy filter.form %}
    </form>
  </div>
  <div class="col-12 table-container">
    <table class="table table-responsive-md table-hover text-center" id="tabla-producto">
      <thead class="thead-light">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Alias</th>
          <th scope="col">Unidad</th>
          <th scope="col">Rango de precios</th>
          <th scope="col">Metros por rollo</th>
          <th scope="col">Estilo</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for producto in page_obj %}
        <tr class="text-center">
          <td scope="row">{{producto.codigo}}</td>
          <td scope="row">{{producto.nombre}}</td>
          <td scope="row">{{producto.alias}}</td>
          <td scope="row">{{producto.get_unidad_display}}</td>
          <td scope="row">$ {{producto.precioMetroEspecial}} - {{producto.precioMetro}}</td>
          <td scope="row">{{producto.cantidad_metro}}m</td>
          <td scope="row">
            {% for cat in producto.categoria.all %}
            {{cat}}<br>
            {% endfor %}
          </td>
          <td scope="row">
            {% if producto.estado == "ISK" %}
            <span class="text-success font-weight-bold">{{producto.get_estado_display}}</span>
            {% else %}
            <span class="text-danger font-weight-bold">{{producto.get_estado_display}}</span>
            {% endif %}
          </td>
          <td>
            {% if producto.is_active %}
            <a href="{% url 'neymatex:producto:editar' producto.pk %}" class="btn btn-sm btn-primary"><i
                class="fas fa-edit "></i></a>
            <a class="btn btn-sm btn-danger use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{%url 'neymatex:producto:eliminar' producto.pk%}" href="#">
              <i class="fas fa-times"></i></a>
            {% else %}
            <a class="btn btn-sm btn-warning use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{%url 'neymatex:producto:activar' producto.pk%}" href="#"><i class="fas fa-check "></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script src="{% static 'js/utilsModal.js' %}"></script>
</script>
{% endblock %}
