{% extends "main.html" %}
{% load static %}
{% block main %}
{% load crispy_forms_tags %}

<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">CLIENTES</h2>
  </div>
  <div class="col">
    <a href="{% url 'neymatex:cliente:agregar' %}" class="btn btn-primary float-right">Agregar cliente <i
        class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12">
    <form method="get">
      {% crispy filter.form %}
      {% include "export_records.html" %}
    </form>
  </div>
  <div class="col-12 table-container">
    {% include "pagination.html" %}
    <table class="table table-responsive-md table-hover text-center" id="tabla-clientes">
      <thead class="thead-light">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Sexo</th>
          <th scope="col">Monto crédito</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj %}
        {% for cliente in page_obj %}
        <tr class="text-center">
          <td scope="row">{{cliente.codigo}}</td>
          <td>{{cliente.detalles.nombres}}</td>
          <td>{{cliente.detalles.apellidos}}</td>
          <td>{{ cliente.detalles.get_sexo_display }}</td>
          <td>$ {{cliente.monto_credito|default_if_none:'0,00'}}</td>
          <td>
            {{cliente.get_estado_display}} -
            {%if cliente.is_active %}
            <span class="text-success">Habilitado</span>
            {%else%}
            <span class="text-danger">Deshabilitado</span>
            {%endif%}
          </td>
          <td>
            {% if cliente.is_active %}
            <a href="{% url 'neymatex:cliente:editar' cliente.pk %}" class="btn btn-sm btn-primary"><i
                class="fas fa-edit "></i></a>
            <a class="btn btn-sm btn-danger use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{%url 'neymatex:cliente:eliminar' cliente.pk%}" href="#">
              <i class="fas fa-times"></i></a>
            {% else %}
            <a class="btn btn-sm btn-warning use-modal" data-toggle='modal' data-target="#mainModal"
              data-url="{%url 'neymatex:cliente:activar' cliente.pk%}" href="#"><i class="fas fa-check "></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <h4>
          No se encontraron datos.
        </h4>
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script src="{% static 'js/utilsModal.js' %}"></script>
<script>
  $(".export").click(function () {
    $("#export").val($(this).data('value'));
    $('form').submit()
  });
  $('button[type="submit"]').click(function (e) {
    $("#export").val('');
  })
</script>
{% endblock %}
