<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.view_name == 'neymatex:principal' %}active{% endif %}">
          <a class="nav-link" href="{% url 'neymatex:principal' %}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_staff%}
        <li class="nav-item {% if request.resolver_match.namespace == 'seguridad' %}active{% endif %}">
          <a class="nav-link" href="{% url 'seguridad:listar' %}">Empleados</a>
        </li>
        {% endif %}
        <li class="nav-item {% if request.resolver_match.namespace == 'neymatex:cliente' %}active{% endif %}">
          <a class="nav-link" href="{% url 'neymatex:cliente:listar' %}">Clientes</a>
        </li>
        <li class="nav-item {% if request.resolver_match.namespace == 'neymatex:producto' %}active{% endif %}">
          <a class="nav-link" href="{% url 'neymatex:producto:listar' %}">Productos</a>
        </li>
      </ul>
      <span class="v-align white-text mr-2">{{user.username}} ({{user.group}})</span>
      {% if user.is_authenticated %}
      <a class="v-align align-middle btn btn-light btn-sm"
        href="{% url 'seguridad:logout_admin' %}?next={{request.path}}"><i class="fas fa-sign-out-alt"></i> Cerrar
        Sesión</a>
      {% else %}
      <a class="v-align align-middle btn btn-light btn-sm"
        href="{% url 'seguridad:login_admin' %}?next={{request.path}}"><i class="fas fa-sign-out-alt"></i> Iniciar
        Sesión</a>
      {% endif %}
    </div>
  </nav>
</header>
