<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{orden.codigo}}</title>
  <style>
    body {
      font-size: 20px;
    }

    p,
    table {
      text-align: left;
    }

  </style>
</head>

<body>
  <p>ORDEN {{orden.codigo}}</p>
  <p>FECHA {{orden.created_at}}</p>
  <p>EMPLEADO: {{orden.empleado|upper}}</p>
  <p>CLIENTE: {{orden.cliente_referencial|upper}}</p>
  <table>
    <tbody>
      <tr>
        <td>PRODUCTO</td>
        <td style="width: 20%;">CANT/PVP</td>
        <td style="width: 10%;">TOTAL</td>
      </tr>
      {%for detalle in orden.detalles.all %}
      <tr>
        <td>{{detalle.producto.nombre}} |<br>
          {% for cat in detalle.producto.categoria.all %}
          {{cat}}
          {% endfor %}
        </td>
        <td>{{detalle.cantidad_metro}}{{detalle.producto.get_unidad_display}}/
          $ {{detalle.valor_metro}}
        </td>
        <td>$ {{detalle.valor_total}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <br>
  <br>
  <table>
    <tbody>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>SUBTOTAL</td>
        <td>$ {{orden.subtotal|floatformat:2}}</td>
      </tr>
      <tr>
        <td>IVA (12%)</td>
        <td>$ {{orden.iva|floatformat:2}}</td>
      </tr>
      <tr>
        <td>DESCUENTO</td>
        <td>
          - $ {{orden.descuento}}
        </td>
      </tr>
      <tr>
        <td>TOTAL</td>
        <td>$ {{orden.valor_total|floatformat:2}}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
