<div class="modal-header">
  <h5 class="modal-title" id="ordenTitle">Reenviar notificación</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form method="POST" action="{% url 'neymatex:notificacion:reenviar' notificacion.pk %}">
  {% csrf_token %}
  <div class="modal-body">
    ¿Desea reenviar la siguiente notificación?
    <div class="row">
      <div class="col-3">
        Título
      </div>
      <div class="col">
        {{notificacion.title}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Mensaje
      </div>
      <div class="col">
        {{notificacion.body}}
      </div>
    </div>
    {% if notificacion.imagen %}
    <div class="row">
      <div class="col-3">
        Imagen
      </div>
      <div class="col">
        <img src="{{notificacion.imagen.url}}" alt="imagen-notificaion" width="240" height="120">
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-3">
        Enviado a
      </div>
      <div class="col">
        {% if notificacion.grupo_usuarios.all %}
        {% for grupo in notificacion.grupo_usuarios.all %}
        {{grupo}}<br>
        {% endfor %}
        {% elif notificacion.usuarios.all %}
        {% for grupo in notificacion.usuarios.all %}
        {{grupo}}<br>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Fecha
      </div>
      <div class="col">
        {{notificacion.created_at}}
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button id="anular" class="btn btn-danger mr-3" type="submit"> Reenviar </button>
  </div>
</form>
