{% extends "main.html" %}
{% load static %}
{% block main %}

<div class="row mt-4">
  <div class="col">
    <h2 class="text-left">NOTIFICACIONES</h2>
  </div>
  <div class="col">
    <a href="{% url 'neymatex:notificacion:agregar' %}" class="btn btn-primary float-right">Enviar nueva <i
        class="fas fa-plus-circle"> </i></a>
  </div>
  <hr>
</div>
<div class="row mt-4">
  <div class="col-12 table-container">
    <table class="table table-responsive-md table-hover text-center" id="tabla-clientes">
      <thead class="thead-light">
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Enviado a</th>
          <th scope="col">Fecha de envío</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% if notificaciones %}
        {% for notificacion in notificaciones %}
        <tr class="text-center">
          <td>{{notificacion.title}}</td>
          <td>
            {% if notificacion.grupo_usuarios.all %}
            {% for grupo in notificacion.grupo_usuarios.all %}
            {{grupo}}<br>
            {% endfor %}
            {% elif notificacion.usuarios.all %}
            {% for grupo in notificacion.usuarios.all %}
            {{grupo}}<br>
            {% endfor %}
            {% endif %}
          </td>
          <td>{{notificacion.created_at}}</td>
          <td>
            <a data-toggle='modal' data-target="#mainModal"
              data-url="{% url 'neymatex:notificacion:reenviar' notificacion.pk %}" href="#"
              class="btn btn-sm btn-primary use-modal btn-action" title="Reenviar"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    {% include "pagination.html" %}
  </div>
</div>
{% endblock main %}

{% block specific_scripts %}
<script src="{% static 'js/utilsTable.js' %}"></script>
<script src="{% static 'js/utilsModal.js' %}"></script>
{% endblock %}
